@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="auth-container">
    <div class="confirmation-card">
        <h1>Zapomniałem hasła</h1>
        <p>
            Sprawdź skrzynkę e-mail aby zmienić hasło.
        </p>
    </div>
</div>
