@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using JobSearch.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject IdentityRedirectManager RedirectManager
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider


<PageTitle>Logowanie</PageTitle>

<div class="row justify-content-center pt-5">
    <div class="col-12 text-center">
        <h1>Logowanie</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <section class="login-card-section">
            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <h2 class="text-center">Użyj lokalnego konta do logowania.</h2>
                <hr />
                <ValidationSummary class="text-danger" role="alert" />

                @if (IsLockedOut)
                {
                    <div class="alert alert-warning">Twoje konto zostało tymczasowo zablokowane. Spróbuj później.</div>
                }

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <InputText id="email" @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Hasło</label>
                    <InputText id="password" type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="hasło" />
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div class="checkbox mb-3">
                    <label class="form-label">
                        <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
                        Zapamiętaj mnie
                    </label>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj się</button>
                </div>
                <div class="text-center mt-3">
                    <p>
                        <a href="/Account/ForgotPassword">Nie pamiętasz hasła?</a>
                    </p>
                    <p>
                        <a href="@(NavigationManager.GetUriWithQueryParameters("/Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Zarejestruj nowe konto</a>
                    </p>
                    <p>
                        <a href="/Account/ResendEmailConfirmation">Ponów wysyłkę potwierdzenia email</a>
                    </p>
                </div>
            </EditForm>
        </section>
    </div>

    <div class="col-md-6 col-lg-4 external-login-col">
        <section>
            <h3>Użyj innej usługi, aby się zalogować.</h3>
            <hr />
            <ExternalLoginPicker />
        </section>
    </div>
</div>

@code {
    bool IsLockedOut;
    string? errorMessage;

    [SupplyParameterFromForm]
    public LoginInputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthStateProvider.GetAuthenticationStateAsync();
        if (auth.User.Identity?.IsAuthenticated == true)
            RedirectManager.RedirectTo(ReturnUrl);
    }

    public async Task LoginUser()
    {
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: true);
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
            return;
        }
        if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo("Account/LoginWith2fa", new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
            return;
        }
        if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            IsLockedOut = true;
            return;
        }
        errorMessage = "Błąd: Nieudana próba logowania.";
    }

    public class LoginInputModel
    {
        [Required(ErrorMessage = "Pole Email jest wymagane.")]
        [EmailAddress(ErrorMessage = "Nieprawidłowy format Email.")]
        public string Email { get; set; } = "";

        [Required(ErrorMessage = "Pole Hasło jest wymagane.")]
        public string Password { get; set; } = "";

        public bool RememberMe { get; set; }
    }
}